numpy
tensorflow-gpu # use version >= 2.2
opencv-python
scikit-image
sklearn
progress
Keras
ipython
segmentation-models
pytz
tensorboard
pillow
pandas
google-cloud-storage
pyyaml
jupyter
crcmod
gitpython
matplotlib
ipykernel
scipy