numpy
tensorflow-gpu==2.3.1
opencv-python
scikit-image
sklearn
progress
Keras
ipython
segmentation-models
pytz
tensorboard==2.3.1
pillow
pandas
google-cloud-storage
pyyaml
jupyter
crcmod
gitpython
matplotlib
ipykernel
scipy
psutil
GPUtil